.summary {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card {
  flex: 1;
  margin: 5px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

.balance {
  background: #094655;
}

.income {
  background: #50ad66;
}

.expense {
  background: #ff3849;
}

.income-item {
  border-left: 5px solid green;
}

.expense-item {
  border-left: 5px solid red;
}
